
@{
    ViewBag.Title = "Статистика";
    Layout = "~/Views/Shared/_Admin.cshtml";
}
   
 <link href="/static/css/main.9192766d.css" rel="stylesheet" integrity="sha256-ocfr2xHgIeYRIdefDOkTfRaNIyCGn45xUjrMBUqZsRI= sha384-OC5KNiSkJJlnQWcUrhvmA+f+hS2fEn6U8PjvuQvzkXeOgOrX10dUmAM7YXqXYIaY" crossorigin="anonymous">
<div id="root"></div>
<script type="text/javascript" src="/static/js/main.9559d3d0.js" integrity="sha256-uJ15civlwiKOa0sZL68wYRIsqdhi2Nt0w8+T/pg/9pQ= sha384-5TgYgu1Qw/e12liDQ7qlg2fsL9UykBb5Rdveea+r/2cG8HyblsdDvu0LyZpZyLQN" crossorigin="anonymous"></script>
