@{
    ViewBag.Title = "Контакты";
}
<h1>@ViewBag.Title</h1>

    <div class="row">
        <div class="col-md-5">
            <address>
                653206 Россия, Кемеровская область, Прокопьевский район<br />
                с.Терентьевское, ул. Станционная 1 <br />
                <abbr title="Phone">сот:</abbr>
                +7(904)-968-07-43<br />
                <abbr title="Phone">сот:</abbr>
                +7(913)-433-63-40
            </address>
            <address>
                <strong>Тех.поддержка:</strong>   <a href="mailto:maxim.vasin@mail.ru">maxim.vasin@mail.ru</a><br />
                <strong>Отдел реализации:</strong> <a href="mailto:o.vasina76@mail.ru">o.vasina76@mail.ru</a>
            </address>
            <address>
                <br /><br /><br />
                <h3>Адреса для самовывоза</h3>
                <strong>Тырган:</strong>   ул.Жолтовского 18<br />
                <strong>с.Терентьевское:</strong> ул.Станционная 1<br /><br />
                <i>А так же адреса компаний, с которыми сотрудничаем, отмеченные на карте.</i>
            </address>
        </div>
        <div class="col-md-2">
            <h3>Наши клиенты</h3>
            <a class="dg-widget-link" href="http://2gis.ru/novokuznetsk/profiles/844954211529213,844953211243676,844953211413471,844953211233593/center/86.63581131180181,53.86642119529407/zoom/14?utm_medium=widget-source&utm_campaign=firmsonmap&utm_source=bigMap">Посмотреть на карте Новокузнецка</a>
            <script charset="utf-8" src="http://widgets.2gis.com/js/DGWidgetLoader.js"></script>
            <script charset="utf-8">new DGWidgetLoader({ "width": 540, "height": 200, "borderColor": "#a3a3a3", "pos": { "lat": 53.86642119529407, "lon": 86.63581131180181, "zoom": 14 }, "opt": { "city": "novokuznetsk" }, "org": [{ "id": "844954211529213" }, { "id": "844953211243676" }, { "id": "844953211413471" }, { "id": "844953211233593" }] });</script><noscript style="color:#c00;font-size:16px;font-weight:bold;">Виджет карты использует JavaScript. Включите его в настройках вашего браузера.</noscript>
        </div>
        <script type="text/javascript" src="//vk.com/js/api/openapi.js?136"></script>

        <!-- VK Widget -->
        <div id="vk_community_messages"></div>
        <script type="text/javascript">
VK.Widgets.CommunityMessages("vk_community_messages", 125107285, {});
        </script>
    </div>

