
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Как сделать заказ?";
}

<div class="jumbotron">
    <div class="row">

        <div class="col-md-3">
            <img src="~/Pictures/logo_slogan.jpg" width=100% alt="звонок" />
        </div>
        <div class="col-md-9">
            <h1>Как сделать заказ?</h1>
            <p class="lead">Хотите сделать заказ через сайт или узнать все возможные варианты, но не знаете как и что делать? Просто перейдите в магазин и выберите нужные товары, добавив их в корзину.</p>
            <p><a href="~/Home/Sale" class="btn btn-primary btn-lg">Перейти в магазин &raquo;</a></p>
        </div>
    </div>
</div>

<div class="row">
    
    <p class="lead">
        Недаром интрент-магазин и называется магазином, здесь все то же самое, только товары на картинке. Наверняка если вы зайдете в новый супермаркет, то всеровно сомжете купить необходимые ва товары.
        <br />-Ну а чем же отличается интрнет-магазин от супермаркета?
        <br />-Да ничем!
        
    </p>
    <div class="col-md-5">
    <p class="lead">
        <br />Заходите в раздел сайта, <a href="~/Home/Sale" class="btn-primary btn-sm">Магазин</a> выбирайте желаемые товары и просто складывайте их в корзину, как в супермаркете. Если хотите заказать несколько то щелкните еще раз на нужный товар или сраз укажите необходимое количество товаров и нажмите кнопку "Добавить в корзину"
    </p>
</div>
    <div class="col-md-7">
        <img src="~/Pictures/mo1.jpg" border="0" width="98%" />
    </div>
    </div>
<br />
<p class="lead">
    Как и в любом магазине есть деление на отделы: Мясной, хлебный, крупы и т.д., так и у нас на сайте вы можете просмтривать продукты по ка тегориям, достаточно нажать кнопку вверху страницы  <a href="~/Home/Catalog" class="btn-primary btn-sm">Поиск по категриям</a> и выбрать необходимую.
    </p>
    <br />
    <div class="row">
        <div class="col-md-7">
            <img src="~/Pictures/mo2.jpg" border="0" width="98%" />
        </div>
        <div class="col-md-5">
<p class="lead">
        При добавление товаров вы автоматически попадаете в корзину, если  вы передумали брать тот, или иной товаров или добавили его по ошибке, то вы можете удалить его из корзины. <br />Необходимо, что-то купить еще?<br /> Непроблема, вернитесь в магазин, кликнув кнопку "продолжить покупки" и выполните повторно действие по добавлению товара в корзину, описанному в первом пункте. Если вы выбрали необходимые товары, тогда переходим к "Оформлению заказа".    
        </p>
    </div>
    
</div>
<br /><br />

<div class="row">
    <div class="col-md-5">
        <p class="lead">
            Последний этап, это параметры доставки. Если вы вошли под своей учетной записью, то все данные уже заплнены, однако если вы делаете заказ впервые, вы можете сначала зарегистрирвоаться или просто заполнить поля "Имя Фамилия, Адрс доставки, контактный телефон и e-mail", и мы примим заказ. На основе введенных вами  данных о себе автмоатически создастся учетная запись. В дальнейшем вам не придется заполнять поля и вам станет доступен личный кабинет клиента.
        </p>
    </div>
    <div class="col-md-7">
        <img src="~/Pictures/mo3.jpg" border="0" width="98%" />
    </div>
    

</div>
<br /><br />
<div class="row">
    <div class="col-md-7">
        <img src="~/Pictures/mo4.jpg" border="0" width="98%" />
    </div>
    <div class="col-md-5">
        <p class="lead">
           В случае успешно выполненых действий, опсианных выше вам на почтовый ящик придет электронное письмо с копией заказа.
         </p>
    </div>

</div>

<div class="row">
    <div class="col-md-5">
        <p class="lead">
            Вы можете следить и управлять состоянием заказа в <a href="~/manage/" class="btn-primary btn-link">личном кабинете</a> клиента, в разделе <a href="~/Manage/Order" class="btn-primary btn-sm">Мои заказы</a>
</p>
    </div>
    <div class="col-md-7">
        <img src="~/Pictures/mo5.jpg" border="0" width="98%" />
    </div>
    

</div>
